<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <bean id="tire" class="Spring.AmericaTire"></bean>

<!--    <bean id="koreaTire" class="Spring.KoreaTire"></bean>-->

    <bean id="car" class="Spring.Car">
<!--        <property name="tire" ref="americaTire"></property>-->
    </bean>


</beans>